:root,
html[data-theme='light'],
.light-theme {


    /* ... other variables ... */
    --a-color-step-large: 60;
    --a-color-step-small: 30;

    /** Color Hues */
    --a-color-primary-hue: 210; /* Updated to a blue hue */
    --a-color-secondary-hue: calc(var(--a-color-primary-hue) + var(--a-color-step-large)); /* Calculate secondary hue based on primary and step */
    --a-color-tertiary-hue: calc(var(--a-color-secondary-hue) + var(--a-color-step-large)); /* Calculate tertiary hue based on secondary and step */
    --a-color-complementary-hue: calc(var(--a-color-primary-hue) + 180); /* Complementary hue is 180 degrees from primary */
    --a-color-analogous-1-hue: calc(var(--a-color-primary-hue) + var(--a-color-step-small)); /* Analogous 1 is 30 degrees from primary */
    --a-color-analogous-2-hue: calc(var(--a-color-primary-hue) - var(--a-color-step-small)); /* Analogous 2 is 30 degrees in the opposite direction */


    /* --a-color-secondary-hue: 30;
    /* --a-color-tertiary-hue: 300;


    /* ... (other variables) ... */

    /** Primary Color */
    --a-color-primary: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-primary: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-primary-container: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-primary-container: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-container));

    /* ... (other variables) ... */

    /** Gray Colors */
    --a-color-gray-1: hsl(0, 0%, 10%);
    --a-color-gray-2: hsl(0, 0%, 20%);
    --a-color-gray-3: hsl(0, 0%, 30%);
    --a-color-gray-4: hsl(0, 0%, 40%);
    --a-color-gray-5: hsl(0, 0%, 50%);
    --a-color-gray-6: hsl(0, 0%, 60%);
    --a-color-gray-7: hsl(0, 0%, 70%);
    --a-color-gray-8: hsl(0, 0%, 80%);
    --a-color-gray-9: hsl(0, 0%, 90%);
    /** Color Brightness/Darkness */
    --a-brightness-primary: 45%; /* Adjusted for green */
    --a-brightness-primary-container: 35%; /* Adjusted for green */
    --a-brightness-dark: 18%;
    --a-brightness-near-black: 4%;
    --a-brightness-text-on-dark: 98%;
    /* For text on dark backgrounds */
    --a-brightness-container: calc(100% - var(--a-brightness-dark));

    /** Color Saturation */
    --a-saturation-primary: 70%; /* Adjusted for green */
    --a-saturation-mono: 0%;

    /* Surface Colors */
    --a-color-surface: hsl(0, 0%, 100%);
    /* White */
    --a-color-on-surface: hsl(0, 0%, 0%);
    /* Black */
    --a-color-surface-invert: hsl(0, 0%, 0%);
    /* Black */
    --a-color-on-surface-invert: hsl(0, 0%, 100%);
    /* White */
    --a-color-outline: hsl(0, 0%, 50%);
    /* Example outline color */

    --a-color-outline: hsl(0, 0%, 88%); /* Lighter gray, e.g., #E0E0E0 */

    /** Primary Color */
    --a-color-primary: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-primary: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-primary-container: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-primary-container: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-container));

    /* Mono */
    --a-color-primary-mono: hsl(var(--a-color-primary-hue), var(--a-saturation-mono), var(--a-brightness-primary));
    --a-color-on-primary-mono: hsl(var(--a-color-primary-hue), var(--a-saturation-mono), var(--a-brightness-text-on-dark));
    --a-color-primary-container-mono: hsl(var(--a-color-primary-hue), var(--a-saturation-mono), var(--a-brightness-primary-container));
    --a-color-on-primary-container-mono: hsl(var(--a-color-primary-hue), var(--a-saturation-mono), var(--a-brightness-container));

    /** Secondary Color */
    --a-color-secondary: hsl(var(--a-color-secondary-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-secondary: hsl(var(--a-color-secondary-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-secondary-container: hsl(var(--a-color-secondary-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-secondary-container: hsl(var(--a-color-secondary-hue), var(--a-saturation-primary), var(--a-brightness-container));

    /** Tertiary Color */
    --a-color-tertiary: hsl(var(--a-color-tertiary-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-tertiary: hsl(var(--a-color-tertiary-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-tertiary-container: hsl(var(--a-color-tertiary-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-tertiary-container: hsl(var(--a-color-tertiary-hue), var(--a-saturation-primary), var(--a-brightness-container));

    /** Complementary Color */
    --a-color-complementary: hsl(var(--a-color-complementary-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-complementary: hsl(var(--a-color-complementary-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-complementary-container: hsl(var(--a-color-complementary-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-complementary-container: hsl(var(--a-color-complementary-hue), var(--a-saturation-primary), var(--a-brightness-container));

    /* Analogous Colors */
    --a-color-analogous-1: hsl(var(--a-color-analogous-1-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-analogous-1: hsl(var(--a-color-analogous-1-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-analogous-1-container: hsl(var(--a-color-analogous-1-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-analogous-1-container: hsl(var(--a-color-analogous-1-hue), var(--a-saturation-primary), var(--a-brightness-container));

    --a-color-analogous-2: hsl(var(--a-color-analogous-2-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-analogous-2: hsl(var(--a-color-analogous-2-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-analogous-2-container: hsl(var(--a-color-analogous-2-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-analogous-2-container: hsl(var(--a-color-analogous-2-hue), var(--a-saturation-primary), var(--a-brightness-container));


    /* Semantic Colors */
    --a-color-negative: #ba1a1a;
    --a-color-on-negative: #ffffff;
    --a-color-negative-container: #ffdad6;
    --a-color-on-negative-container: #410002;

    --a-color-positive: #00c005;
    --a-color-on-positive: #ffffff;
    --a-color-positive-container: #E6FFD6FF;
    --a-color-on-positive-container: #004109;

    --a-color-informative: #1a27ba;
    --a-color-on-informative: #ffffff;
    --a-color-informative-container: #d6e0ff;
    --a-color-on-informative-container: #000b41;

    --a-color-notice: #f67c2a;
    --a-color-on-notice: #ffffff;
    --a-color-notice-container: #ffebd6;
    --a-color-on-notice-container: #412700;

    /* Code */
    --a-color-code-bg: #f5f5f5; /* Light gray background for code blocks */


    /** Gradients */
    /* Primary */
    --a-gradient-primary: linear-gradient(135deg, var(--a-color-primary), var(--a-color-primary-container));
    --a-gradient-on-primary: linear-gradient(135deg, var(--a-color-on-primary), var(--a-color-primary));
    --a-gradient-primary-container: linear-gradient(135deg,  var(--a-color-primary-container), var(--a-color-on-primary-container));
    --a-gradient-on-primary-container: linear-gradient(135deg, var(--a-color-on-primary-container), var(--a-color-primary-container));
    --a-gradient-black-to-primary: linear-gradient(135deg, black, var(--a-color-primary)); /* Black to primary */
    --a-gradient-primary-container-to-primary: linear-gradient(135deg, var(--a-color-primary-container), var(--a-color-primary)); /* Container to primary */

    /* Secondary */
    --a-gradient-secondary: linear-gradient(135deg, var(--a-color-secondary), var(--a-color-secondary-container));
    --a-gradient-on-secondary: linear-gradient(135deg, var(--a-color-on-secondary), var(--a-color-secondary));
    --a-gradient-secondary-container: linear-gradient(135deg,  var(--a-color-secondary-container), var(--a-color-on-secondary-container));
    --a-gradient-on-secondary-container: linear-gradient(135deg, var(--a-color-on-secondary-container), var(--a-color-secondary-container));
    --a-gradient-black-to-secondary: linear-gradient(135deg, black, var(--a-color-secondary)); /* Black to secondary */
    --a-gradient-secondary-container-to-secondary: linear-gradient(135deg, var(--a-color-secondary-container), var(--a-color-secondary)); /* Container to secondary */

    /* Tertiary */
    --a-gradient-tertiary: linear-gradient(135deg, var(--a-color-tertiary), var(--a-color-tertiary-container));
    --a-gradient-on-tertiary: linear-gradient(135deg, var(--a-color-on-tertiary), var(--a-color-tertiary));
    --a-gradient-tertiary-container: linear-gradient(135deg,  var(--a-color-tertiary-container), var(--a-color-on-tertiary-container));
    --a-gradient-on-tertiary-container: linear-gradient(135deg, var(--a-color-on-tertiary-container), var(--a-color-tertiary-container));
    --a-gradient-black-to-tertiary: linear-gradient(135deg, black, var(--a-color-tertiary)); /* Black to tertiary */
    --a-gradient-tertiary-container-to-tertiary: linear-gradient(135deg, var(--a-color-tertiary-container), var(--a-color-tertiary)); /* Container to tertiary */

    /* Complementary */
    --a-gradient-complementary: linear-gradient(135deg, var(--a-color-complementary), var(--a-color-complementary-container));
    --a-gradient-on-complementary: linear-gradient(135deg, var(--a-color-on-complementary), var(--a-color-complementary));
    --a-gradient-complementary-container: linear-gradient(135deg,  var(--a-color-complementary-container), var(--a-color-on-complementary-container));
    --a-gradient-on-complementary-container: linear-gradient(135deg, var(--a-color-on-complementary-container), var(--a-color-complementary-container));
    --a-gradient-black-to-complementary: linear-gradient(135deg, black, var(--a-color-complementary)); /* Black to complementary */
    --a-gradient-complementary-container-to-complementary: linear-gradient(135deg, var(--a-color-complementary-container), var(--a-color-complementary)); /* Container to complementary */

    /* Analogous 1 */
    --a-gradient-analogous-1: linear-gradient(135deg, var(--a-color-analogous-1), var(--a-color-analogous-1-container));
    --a-gradient-on-analogous-1: linear-gradient(135deg, var(--a-color-on-analogous-1), var(--a-color-analogous-1));
    --a-gradient-analogous-1-container: linear-gradient(135deg,  var(--a-color-analogous-1-container), var(--a-color-on-analogous-1-container));
    --a-gradient-on-analogous-1-container: linear-gradient(135deg, var(--a-color-on-analogous-1-container), var(--a-color-analogous-1-container));
    --a-gradient-black-to-analogous-1: linear-gradient(135deg, black, var(--a-color-analogous-1)); /* Black to analogous-1 */
    --a-gradient-analogous-1-container-to-analogous-1: linear-gradient(135deg, var(--a-color-analogous-1-container), var(--a-color-analogous-1)); /* Container to analogous-1 */

    /* Analogous 2 */
    --a-gradient-analogous-2: linear-gradient(135deg, var(--a-color-analogous-2), var(--a-color-analogous-2-container));
    --a-gradient-on-analogous-2: linear-gradient(135deg, var(--a-color-on-analogous-2), var(--a-color-analogous-2));
    --a-gradient-analogous-2-container: linear-gradient(135deg,  var(--a-color-analogous-2-container), var(--a-color-on-analogous-2-container));
    --a-gradient-on-analogous-2-container: linear-gradient(135deg, var(--a-color-on-analogous-2-container), var(--a-color-analogous-2-container));
    --a-gradient-black-to-analogous-2: linear-gradient(135deg, black, var(--a-color-analogous-2)); /* Black to analogous-2 */
    --a-gradient-analogous-2-container-to-analogous-2: linear-gradient(135deg, var(--a-color-analogous-2-container), var(--a-color-analogous-2)); /* Container to analogous-2 */
    /* Multi-level */
    --a-gradient-analogous-to-primary: linear-gradient(to right, var(--a-color-analogous-1), var(--a-color-primary));
    --a-gradient-3-level: linear-gradient(to right, var(--a-color-analogous-1), var(--a-color-primary), var(--a-color-analogous-2));
    --a-gradient-all-colors: linear-gradient(to right, var(--a-color-primary), var(--a-color-secondary), var(--a-color-tertiary), var(--a-color-complementary), var(--a-color-analogous-1), var(--a-color-analogous-2));
    --a-gradient-primary-to-secondary: linear-gradient(to right, var(--a-color-primary), var(--a-color-secondary));
    --a-gradient-secondary-to-tertiary: linear-gradient(to right, var(--a-color-secondary), var(--a-color-tertiary));
    --a-gradient-analogous-1-to-analogous-2: linear-gradient(to right, var(--a-color-analogous-1), var(--a-color-analogous-2));
    --a-gradient-primary-to-complementary: linear-gradient(to right, var(--a-color-primary), var(--a-color-complementary)); /* Primary to complementary */
    --a-gradient-secondary-to-complementary: linear-gradient(to right, var(--a-color-secondary), var(--a-color-complementary)); /* Secondary to complementary */
    --a-gradient-tertiary-to-complementary: linear-gradient(to right, var(--a-color-tertiary), var(--a-color-complementary)); /* Tertiary to complementary */
    --a-gradient-primary-to-analogous-1: linear-gradient(to right, var(--a-color-primary), var(--a-color-analogous-1)); /* Primary to analogous 1 */
    --a-gradient-secondary-to-analogous-2: linear-gradient(to right, var(--a-color-secondary), var(--a-color-analogous-2)); /* Secondary to analogous 2 */
    --a-gradient-tertiary-to-analogous-1: linear-gradient(to right, var(--a-color-tertiary), var(--a-color-analogous-1)); /* Tertiary to analogous 1 */

    /* Subtle */
    --a-gradient-subtle-primary: linear-gradient(to right, var(--a-color-primary), var(--a-color-primary-container));
    --a-gradient-subtle-secondary: linear-gradient(to right, var(--a-color-secondary), var(--a-color-secondary-container));
    --a-gradient-subtle-tertiary: linear-gradient(to right, var(--a-color-tertiary), var(--a-color-tertiary-container));
    --a-gradient-subtle-complementary: linear-gradient(to right, var(--a-color-complementary), var(--a-color-complementary-container));
    --a-gradient-subtle-analogous-1: linear-gradient(to right, var(--a-color-analogous-1), var(--a-color-analogous-1-container));
    --a-gradient-subtle-analogous-2: linear-gradient(to right, var(--a-color-analogous-2), var(--a-color-analogous-2-container));




}

/* Dark Mode Colors */
html[data-theme='dark'],
.dark-theme {
    --a-color-surface: hsl(0, 0%, 10%); /* Dark gray */
    --a-color-on-surface: hsl(0, 0%, 95%); /* Light gray */
    --a-color-surface-invert: hsl(0, 0%, 95%); /* Light gray */
    --a-color-on-surface-invert: hsl(0, 0%, 10%); /* Dark gray */
    --a-color-outline: hsl(0, 0%, 70%); /* Lighter outline for dark mode */
    --a-color-code-bg: #2a2a2a;

    --a-color-outline: hsl(0, 0%, 25%); /* Darker, subtle gray, e.g., #404040 */


    .theme-toggle i{
        color: black !important;
        opacity: .75;
    }

    --a-brightness-primary: 40%; /* Adjusted for green */
    --a-brightness-primary-container: 30%; /* Adjusted for green */
    --a-brightness-dark: 13%;
    --a-brightness-near-black: 2%;
    --a-brightness-text-on-dark: 95%;
    /* Adjust other colors as needed for dark mode */

    button.outline{
        //increase brightness;
        filter: brightness(200%);
    }

    button.text {
        filter: brightness(200%);
    }
}

/* Blue Theme Colors */
html[data-theme='blue'],
.blue-theme {
    --a-color-primary-hue: 220; /* Blue hue */
    --a-color-secondary-hue: calc(var(--a-color-primary-hue) + (var(--a-color-step-large) * 2));
    --a-color-tertiary-hue: calc(var(--a-color-secondary-hue) + (var(--a-color-step-large) * 2));

    --a-brightness-primary: 50%;
    --a-brightness-primary-container: 40%;

    --a-color-primary: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-primary: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-primary-container: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-primary-container: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-container));

    --a-color-secondary: hsl(var(--a-color-secondary-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-secondary: hsl(var(--a-color-secondary-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-secondary-container: hsl(var(--a-color-secondary-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-secondary-container: hsl(var(--a-color-secondary-hue), var(--a-saturation-primary), var(--a-brightness-container));

    --a-color-tertiary: hsl(var(--a-color-tertiary-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-tertiary: hsl(var(--a-color-tertiary-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-tertiary-container: hsl(var(--a-color-tertiary-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-tertiary-container: hsl(var(--a-color-tertiary-hue), var(--a-saturation-primary), var(--a-brightness-container));

    /* Gradients */
    --a-gradient-primary: linear-gradient(135deg, hsl(220, 70%, 50%), hsl(220, 80%, 40%));
    --a-gradient-secondary: linear-gradient(135deg, hsl(274, 70%, 50%), hsl(274, 80%, 40%));
    --a-gradient-tertiary: linear-gradient(135deg, hsl(328, 70%, 50%), hsl(328, 80%, 40%));
}

/* Gray Theme Colors */
html[data-theme='gray'],
.gray-theme {
    --a-color-primary-hue: 0; /* Gray hue */
    --a-color-secondary-hue: 240; /* Example secondary hue (blue) */
    --a-color-tertiary-hue: 120; /* Example tertiary hue (green) */

    --a-saturation-primary: 0%;
    --a-brightness-primary: 50%;
    --a-brightness-primary-container: 90%;

    --a-color-primary: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-primary: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-primary-container: hsl(var(--a-color-primary-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-primary-container: hsl(var(--a-color-primary-hue), var(--a-saturation-mono), var(--a-brightness-near-black));

    --a-color-secondary: hsl(var(--a-color-secondary-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-secondary: hsl(var(--a-color-secondary-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-secondary-container: hsl(var(--a-color-secondary-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-secondary-container: hsl(var(--a-color-secondary-hue), var(--a-saturation-primary), var(--a-brightness-container));

    --a-color-tertiary: hsl(var(--a-color-tertiary-hue), var(--a-saturation-primary), var(--a-brightness-primary));
    --a-color-on-tertiary: hsl(var(--a-color-tertiary-hue), var(--a-saturation-primary), var(--a-brightness-text-on-dark));
    --a-color-tertiary-container: hsl(var(--a-color-tertiary-hue), var(--a-saturation-primary), var(--a-brightness-primary-container));
    --a-color-on-tertiary-container: hsl(var(--a-color-tertiary-hue), var(--a-saturation-primary), var(--a-brightness-container));

    /* Gradients (Example - adjust as needed) */
    --a-gradient-primary: linear-gradient(135deg, hsl(0, 0%, 40%), hsl(0, 0%, 60%));
    --a-gradient-secondary: linear-gradient(135deg, hsl(240, 50%, 50%), hsl(240, 60%, 60%));
    --a-gradient-tertiary: linear-gradient(135deg, hsl(120, 50%, 50%), hsl(120, 60%, 60%));
}