/* Axiom Commerce Component CSS */

.product-card {
    background: var(--a-color-surface);
    border-radius: var(--a-border-radius-base);
    box-shadow: var(--a-shadow-base);
    overflow: hidden;
    max-width: 300px;
}

.product-image {
    width: 100%;
}

.product-info {
    padding: var(--a-padding-base);
}

.product-name {
    font-size: 1.2em;
    font-weight: bold;
}

.product-price {
    font-size: 1.1em;
    color: var(--a-color-primary);
}
