/* Axiom Infinite Scroll Component CSS */

.infinite-scroll-container {
    height: 300px;
    overflow-y: auto;
    border: 1px solid var(--a-color-outline);
    border-radius: var(--a-border-radius-base);
}

.infinite-scroll-content {
    padding: var(--a-padding-base);
}

.infinite-scroll-loader {
    text-align: center;
    padding: var(--a-padding-base);
}
