{# Footer menu template with semantic list output. #}
{% if items %}
  <ul>
    {% for item in items %}
      <li>
        <a href="{{ item.url }}"{{ item.attributes }}>{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
