{# Main menu template mapped to Axiom01 nav conventions. #}
{% if items %}
  <ul class="links">
    {% for item in items %}
      <li>
        <a href="{{ item.url }}"{{ item.attributes }}>{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
