{#
/**
 * @file
 * Axiom01 search form block template.
 *
 * Wraps Drupal's core search block in a data-axiom-search-block attribute
 * container so that axiom.css and axiom-search-block.js styling hooks apply
 * without adding extra class names.
 *
 * Variables:
 * - content: the search form render array
 * - attributes: block-level HTML attributes
 */
#}
<div{{ attributes }} data-axiom-search-block>
  {{ content }}
</div>
