# Source files
scripts/
src/

# Development
docs/

# Git
.git
.gitignore
.github

# System
.DS_Store
.editorconfig

# Documentation
CONTRIBUTING.md
*.md

# Tests
*.test.js
__tests__

# Build tools
.env
.env.local
