{# Views table display mapped to Axiom advanced-table behavior. #}
{% set view_attributes = attributes
  .setAttribute('data-component', 'advanced-table')
  .setAttribute('data-view-display', 'table') %}
<section{{ view_attributes }}>
  {{ rows }}
</section>
