@media (prefers-color-scheme: dark) {
  :root {
    --a-color-text: var(--a-color-neutral-100);
    --a-color-text-secondary: var(--a-color-neutral-300);
    --a-color-text-muted: var(--a-color-neutral-500);
    --a-color-text-disabled: var(--a-color-neutral-600);
    --a-color-text-inverse: var(--a-color-neutral-900);
    --a-color-surface: var(--a-color-neutral-900);
    --a-color-surface-secondary: var(--a-color-neutral-800);
    --a-color-surface-tertiary: var(--a-color-neutral-700);
    --a-color-border: var(--a-color-neutral-700);
    --a-color-border-secondary: var(--a-color-neutral-800);
    --a-color-focus: var(--a-color-primary-400);
  }
}

[data-theme="dark"] {
    --a-color-text: var(--a-color-neutral-100);
    --a-color-text-secondary: var(--a-color-neutral-300);
    --a-color-text-muted: var(--a-color-neutral-500);
    --a-color-text-disabled: var(--a-color-neutral-600);
    --a-color-text-inverse: var(--a-color-neutral-900);
    --a-color-surface: var(--a-color-neutral-900);
    --a-color-surface-secondary: var(--a-color-neutral-800);
    --a-color-surface-tertiary: var(--a-color-neutral-700);
    --a-color-border: var(--a-color-neutral-700);
    --a-color-border-secondary: var(--a-color-neutral-800);
    --a-color-focus: var(--a-color-primary-400);
}

