<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axiom - Component Browser</title>
    <link rel="stylesheet" href="../css/axiom.css">
    <link rel="stylesheet" href="../css/component-browser.css">
</head>
<body>

    <div class="container">
        <h1>Component Browser</h1>

        <p>The component browser provides an interactive way to view all of the components in the Axiom framework.</p>

        <div class="component-browser">
            <div class="component-browser-sidebar">
                <ul class="component-browser-list">
                    <li><a href="button.html" class="active">Button</a></li>
                    <li><a href="card.html">Card</a></li>
                    <li><a href="modal.html">Modal</a></li>
                    <li><a href="forms.html">Forms</a></li>
                    <li><a href="tabs.html">Tabs</a></li>
                    <li><a href="dropdown.html">Dropdown</a></li>
                    <li><a href="accordion.html">Accordion</a></li>
                    <li><a href="alert.html">Alert</a></li>
                    <li><a href="progress.html">Progress</a></li>
                    <li><a href="navbar.html">Navbar</a></li>
                    <li><a href="drawer.html">Drawer</a></li>
                    <li><a href="datepicker.html">Datepicker</a></li>
                    <li><a href="search.html">Search</a></li>
                    <li><a href="media.html">Media</a></li>
                    <li><a href="notification.html">Notification</a></li>
                    <li><a href="stepper.html">Stepper</a></li>
                    <li><a href="tag.html">Tag</a></li>
                    <li><a href="hero.html">Hero</a></li>
                    <li><a href="jump-menu.html">Jump Menu</a></li>
                    <li><a href="infinite-scroll.html">Infinite Scroll</a></li>
                    <li><a href="tab-bar.html">Tab Bar</a></li>
                </ul>
            </div>
            <div class="component-browser-content">
                <iframe class="component-browser-iframe" src="button.html"></iframe>
            </div>
        </div>

    </div>

    <script src="../js/axiom.js"></script>
    <script src="../js/component-browser.js"></script>
</body>
</html>