<div class="component-container">
    <header class="component-header">
        <h2>Text Editor</h2>
        <p>A rich text editor for creating and managing content, powered by a stripped-down CKEditor 5.</p>
    </header>
    <div class="component-example">
        <div id="editor">
            <p>This is an example of the rich text editor. You can type and format your content here.</p>
            <p>Try <strong>bold</strong>, <em>italic</em>, <a href="#">links</a>, and more!</p>
        </div>
    </div>
    <div class="component-code">
        <h3>HTML</h3>
        <pre><code class="language-html">&lt;div id="editor"&gt;
    &lt;p&gt;This is an example of the rich text editor.&lt;/p&gt;
&lt;/div&gt;</code></pre>
        <h3>JavaScript</h3>
        <pre><code class="language-javascript">// In your component-browser.js or axiom.js
// Ensure CKEditor 5 Classic Build is loaded via CDN in your head tag:
// &lt;script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"&gt;&lt;/script&gt;

ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .catch( error => {
        console.error( error );
    } );</code></pre>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<script type="module">
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>