{# Form element wrapper keeping Drupal form rendering compatible with Axiom01 defaults. #}
{% set axiom_form_classes = [
  'form-item',
  'ax-form-item',
  errors ? 'ax-form-item--error',
  disabled ? 'ax-form-item--disabled',
] %}
<div{{ attributes.addClass(axiom_form_classes) }}>
  {% if label_display != 'invisible' %}
    {{ label }}
  {% endif %}
  {{ children }}
  {% if description.content %}
    <small class="ax-form-item__description">{{ description.content }}</small>
  {% endif %}
</div>
