{# Form element wrapper keeping Drupal form rendering compatible with Axiom01 defaults. #}
<div{{ attributes }}>
  {% if label_display != 'invisible' %}
    {{ label }}
  {% endif %}
  {{ children }}
  {% if description.content %}
    <small>{{ description.content }}</small>
  {% endif %}
</div>
